.loginsingup{
    height: 90vh;
    width: 100%;
    background-color:#fce3fe;
    padding-top: 10vh;
    font-family: Poppines;
   
}
.loginsingup-contanr{
    margin: auto;
    height: 60vh;
    width: 40%;
    background-color: white;
}
.loginsingup-contanr .continue{
    margin-right: 150px;
    width: 500px;
}
