.descriptionbox-nav-box-des {
    border: 1px solid #d0d0d0;
    padding: 10px 20px;
}
.descriptionbox-nav-box{
    border: 1px solid #d0d0d0;
    padding: 8px 20px;
}
.descriptionbox-description{
    border: 1px solid #d0d0d0;
}